body{
	
			background:url(back2.png) no-repeat;	
	}
	h1{
		font-family:Segoe Script;
		 font-size:20px;
		  color:#302617;
		   margin-top: 80px;
		    margin-left:460px;
		}
form{
			
		font-family:Segoe Script; 
		font-size:14px; 
		color:#302617;  
	}
	#dsfd{
display: inline-block; 
float:left;
width:210px; 
text-align:center;		
		}
		
#title{
	margin-left: 360px;	
	
	}		
		#veg_div{
			float: left;
	display: inline-block;
			margin-top: 50px;
		margin-left: 150px;	
		
		width: 200px;
		height: 250px;
		overflow: auto;
		
		text-align:center;	
					
			}
			#herb_div{
				float: left;
	display: inline-block;
			margin-top: 50px;
		margin-left: 10px;	
		
		width: 200px;
		height: 250px;
		overflow: auto;
		
		text-align:center;	
		}
		#meat_div{
				float: left;
	display: inline-block;
			margin-top: 50px;
		margin-left: 10px;	
		
		width: 200px;
		height: 250px;
		overflow: auto;
		
		text-align:center;	
		}
		#fluid_div{
				float: left;
	display: inline-block;
			margin-top: 50px;
		margin-left: 10px;	
		
		width: 200px;
		height: 250px;
		overflow: auto;
		
		text-align:center;	
		}
		
		#step_div{
				
	
			margin-top: 330px;
		margin-left: 339px;	
		
		width: 450px;
		height: 250px;
		overflow: auto;
		
		text-align:center;	
		}
		#wine{
				
	
		float: left;
			display: inline-block;
		margin-left: 200px;	
		
		width: 200px;
		
		
		margin-bottom: 20px;
		text-align:center;	
		}
		
		#total_time{
		
		font-family:Segoe Script; 
		font-size:14px; 
		color:#302617;
		
		margin-left: 660px;	
		width: 200px;
		}
		#continue_div{
			
margin-top: 30px;			
margin-left: 500px;
margin-bottom: 80px;
			}
		
		
		#button1{
	    
    
    -moz-box-shadow:inset 0px 1px 0px 0px #E01B6A;
	-webkit-box-shadow:inset 0px 1px 0px 0px #E01B6A;
	box-shadow:inset 0px 2px 0px 0px #E01B6A;
	background-color:rgba(255,0,0,0.1);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Segoe Script;
	font-size:12px;
	font-weight:bold;
	padding:2px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	margin-bottom: 25px;
			}